* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --hue: 194;
    --primary-color: hsl(var(--hue), 100%, 63%);
    --text-color: #303030;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: #000000;
}

a {
    text-decoration: none;
    color: inherit
}

img {
    display: block;
    max-width: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#app {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

#app header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 112rem;
    gap: 6rem;
}

header h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

#app header form {
    display: flex;
}

.search input,
.add-favourite {
    padding: 0.8rem 1.2rem;
    outline-color: var(--primary-color);
}

.search input {
    padding: 1.6rem;
    color: #7C7C8A;
    background-color: #06181C;
    border: .1rem solid #06181C;
    border-radius: 0.4rem;
    width: 46.2rem;
}

i.fa-star {
    font-size: 1.6rem;
}

.add-favourite {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 0.8rem;
    padding: 1.2rem 3.2rem;
    border: none;
    border-radius: 0.4rem;
    transition: all .1s ease-in;
    background-color: #065E7C;
}

.add-favourite:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #065E7C;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 8rem;
    background-color: rgba(6, 22, 27, .5);
    border-radius: 1.2rem;
}

table * {
    font-size: 1.4rem;
    color: #E1E1E6;
}

table th:first-child {
    border-top-left-radius: 0.4rem;
}

table th:last-child {
    border-top-right-radius: 0.4rem;
}

table th {
    text-align: left;
    padding: 2.4rem 4rem;
    background-color: #092D38;
}

table td {
    padding: 2.4rem 4rem;
}

table tr:nth-child(even) {
    background-color: #06181C;
}

.github-user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.picture-profile {
    width: 4.8rem;
    height: 4.8rem;
    object-fit: cover;
    border-radius: 50%;
}

td .remove {
    color: #F75A68;
    font-weight: 700;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

td .remove::after {
    content: "";
    display: block;
    width: 0%;
    height: 0.2rem;
    background-color: #F75A68;
    transition: width 0.1s ease-in;
}

td .remove:hover::after {
    width: 100%;
}